/* coding start */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */

@font-face {
    font-family: "Montserrat";
    src: url(Font/static/Montserrat-Medium.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Montserrat";
    font-weight: 400;
}

body {
    background-color: #e5e5e5;
    transition: 2s;
}

body.dark {
    background-color: #24242a;
    transition: 2s;
}

p {
    line-height: 24px;
}

li,
a,
button {
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}

nav {
    background-color: #e5e5e5;
    box-shadow: 2px 5px 15px black;
    transition: 2s;
}

.dark nav {
    background-color: #24242a;
    transition: 2s;
}

.logo {
    opacity: 80%;
    margin-left: 30px;
    cursor: pointer;

    transition: all 0.3s ease 0s;
}

.logo img {
    width: 150px;
}

.logo:hover {
    opacity: 100%;
}

nav ul {
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: black;
}

.dark nav ul li a {
    color: white;
}

.ph-sun {
    font-size: 18px;
}

.ph-moon {
    font-size: 18px;
}

.hamburger-button {
    font-size: 24px;
    padding-right: 20px;
    color: black;
}

.dark .hamburger-button {
    color: white;
}

.welcome {
    position: relative;
    height: 550px;
    background-color: #24242a;
}

.welcome-img {
    text-align: center;
    background-color: white;
    background-image: url(images/musicfest.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 60%;
    width: 100%;
    height: 100%;
}

.welcome-title h1 {
    color: white;
    font-weight: 800;
    font-size: 40px;
    text-shadow: 10px 10px 10px #000000;
    letter-spacing: 1px;
}

.welcome-title p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    text-shadow: 3px 3px 2px #000000;
    color: white;
}

.sponsor {
    background-color: whitesmoke;
    overflow: hidden;
    margin: 0;
    padding: 5px 0;
    white-space: nowrap;
}

.sponsor-title {
    text-align: center;
    margin-bottom: 5px;
}

.sponsor-title p {
    font-size: 20px;
    font-style: italic;
    color: #000000;
}

.logo-slide {
    display: inline-block;
}

.logo-slide img {
    height: 30px;
    margin: 30px;
}

.about-container {
    margin-top: 80px;
    padding: 130px;
}

.about {
    font-size: 35px;
    background-color: #24242a;
    border-radius: 50px 0 0 50px;
    padding: 30px;
    transition: 2s;
}

.dark .about {
    background-color: #e5e5e5;
    transition: 2s;
}

.about h1 {
    color: white;
    font-weight: 700;
    text-align: end;
    transition: 2s;
}

.dark .about h1 {
    color: black;
    transition: 2s;
}

.about p {
    color: white;
    font-size: 16px;
    text-align: end;
    transition: 2s;
}

.dark .about p {
    color: black;
    transition: 2s;
}

.about-image picture {
    border-radius: 0 50px 50px 0;
}

.about-image picture > img {
    border-radius: 0 50px 50px 0;
}

.what-container {
    background-color: #24242a;
}

.dark .what-container {
    background-color: #e5e5e5;
}

.what-title {
    padding-top: 80px;
    text-align: center;
}

.what-title h1 {
    font-size: 65px;
    font-weight: 900;
    color: white;
    transition: 2s;
}

.dark .what-title h1 {
    color: black;
    transition: 2s;
}

.what-title p {
    font-size: 20px;
    font-weight: 500;
    color: white;
    transition: 2s;
}

.dark .what-title p {
    color: black;
    transition: 2s;
}

.what-list {
    width: 100%;
    padding: 80px;
}

.what-items {
    background-color: #e5e5e5;
    border-radius: 30px;
    box-shadow: 3px 3px 20px #24242a;
    padding: 20px 0;
    transition: transform 0.5s;
    transition: 2s;
}

.dark .what-items {
    background-color: #24242a;
    transition: 2s;
}

.what-items:hover {
    transform: scale(1.02);
}

.what-items h2 {
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    transition: 2s;
}

.dark .what-items h2 {
    color: white;
    transition: 2s;
}

.what-items p {
    color: black;
    text-align: center;
    font-size: 16px;
    transition: 2s;
}

.dark .what-items p {
    color: white;
    transition: 2s;
}

.artist-container {
    margin-top: 80px;
}

.artist-title {
    padding-top: 200px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}

.artist-title h1 {
    color: black;
    font-weight: 700;
    font-size: 60px;
    transition: 2s;
}

.dark .artist-title h1 {
    color: white;
    transition: 2s;
}

.artist {
    margin-bottom: 100px;
    padding: 30px;
}

.artist-card {
    background-color: #24242a;
    height: 400px;
    border-radius: 15px;
    box-shadow: 5px 10px 25px #24242a;
    cursor: pointer;
    transition: transform 0.6s;
}

.dark .artist-card {
    background-color: #e5e5e5;
    transition: 0.6s;
}

.artist-card:hover {
    transform: scale(1.04);
}

.artist-img {
    width: 100%;
    height: 90%;
    object-fit: cover;

    border-radius: 15px 15px 0 0;
}

.artist-name {
    color: white;
    font-weight: 600;
    margin-top: 10px;
    transition: 2s;
}

.dark .artist-name {
    color: black;
    transition: 2s;
}

.contact {
    padding-top: 130px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}

.form-group textarea {
    resize: vertical;
}

.form-group option {
    color: #333;
}

.form-group button {
    background-color: #24242a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #e5e5e5;
    color: black;
}

.trademark {
    padding: 30px;
    text-align: center;
}

.trademark p {
    font-size: 12px;
    color: black;
}

.dark .trademark p {
    color: white;
}
